<main ng-controller="adminController" class="p-3">
    <div class="container-fluid">
        <div class="my-auto">
            <h2 class="mb-5">Vizsgarögzítés:</h2>
            <div class="row mb-4">
                <aside ng-if="Selected" ng-class="{'col-lg-3 col-md-6 col-sm-12 d-block': Selected, 'd-none': !Selected}">
                    <form id="#selection">
                        <h3>Adatok:</h3>
                        <div class="mb-3">
                            <label class="form-label" for="name">Tárgy neve:</label>
                            <input type="text" name="name" class="form-control" ng-model="upload.name" >
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="teacher">Tanár:</label>
                            <input type="text" name="teacher" class="form-control" ng-model="upload.teacher" >
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="date">Dátum:</label>
                            <input type="date" name="date" class="form-control" ng-model="upload.date" >
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="start">Dátum:</label>
                            <input type="time" name="start" class="form-control" ng-model="upload.start" >
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="end">Dátum:</label>
                            <input type="time" name="end" class="form-control" ng-model="upload.end" >
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="signup">Terem száma:</label>
                            <input type="text" name="signup" class="form-control" ng-model="upload.room" >
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="people">Maximum létszám:</label>
                            <input type="number" name="people" class="form-control" ng-model="upload.people" min="1">
                        </div>
                        <input type="button" class="btn btn-success" value="Felvétel" ng-click="Upload()">
                    </form>
                </aside>
                <section ng-class="{'col-lg-9 col-md-6 col-sm-12': Selected}">
                    <div id="calendar" ng-click="DoNothing()" ng-mouseover="DoNothing()">
                
                    </div>
                </section>
            </div>
            <div ng-if="IsEvent">
                <h4>{{CurrentEvent.title.split('-')[0].trim()}} vizsgára jelentkezők</h4>
                <h5 ng-if="CurrentEvent.extendedProps.people.length==0" class="text-danger text-center">Nincs még jelentkező erre a vizsgára!</h5>
                <table class="table table-bordered table-hover" ng-if="CurrentEvent.extendedProps.people.length>0">
                    <thead>
                        <tr>
                            <th>#.</th>
                            <th>Vizsgázó neve:</th>
                            <th>OM-Azonosító</th>
                            <th>Lakcím</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dude in CurrentEvent.extendedProps.people">
                            <td>{{$index + 1}}</td>
                            <td>{{dude.FullName}}</td>
                            <td>{{dude.OM}}</td>
                            <td>{{dude.Address}}</td>
                            
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Jelentkezők:</td>
                            <td>{{CurrentEvent.extendedProps.people.length}}/{{CurrentEvent.extendedProps.max}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</main>