<main>
    <h2 class="flex-start text-center">Üdvözöllek!</h2>
    <div class="row w-100">
        <div class="col-lg-3 offset-lg-3">
            <a href="/#!/dashboard"><div class="card text-center">
                <div class="card-title">
                    <h2><i class="bi bi-check-circle-fill"></i></h2>
                </div>
                <hr>
                <h3 class="card-body">Jelentkezés</h3>
            </div></a>
        </div>
        <div class="col-lg-3">
            <a href="/#!/admin"><div class="card text-center">
                <div class="card-title">
                    <h2><i class="bi bi-person-fill"></i></h2>
                </div>
                <hr>
                <h3 class="card-body">Vizsga-management</h3>
            </div></a>
        </div>
    </div>
</main>